{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}



{% for lieu in lieus %}
<div class="containerPageLieu">
    <div class="containerElementsLieu">
        <div class="infoLieu">
            <span>{{ lieu.nom }}</span>
           <span class="villeEtAdress"> {{ lieu.ville }} / {{ lieu.adress}} </span>
           <span class="capacity"> capacity: {{ lieu.capacity}} </span>
        </div>
        <div class="description"> {{ lieu.description }} </div>
        <img src=" {{asset('images/lieu/'~ lieu.imageSalle) }}" alt="">
    </div>
    <div class="textEtImage">
        <img src=" {{asset('images/lieu/'~ lieu.image) }}" alt="">
    </div>
</div>
<div class="buttonsLieu">
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path ('supprimer_lieu',{'id':lieu.id}) }}"><i class="fa-sharp fa-solid fa-trash"></i></a>
    <a href="{{ path ('edit_lieu',{'id':lieu.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
    {% endif %}
</div>

{% endfor %}
<span class="titreEvenementPasses">Événements réalisés dans notre lieu </span>
<div class="evenementsPasseesLieu">
{% for evenementPassee in evenemntsPassees %}
<a href=" {{ path('details_evenement',{'idEvent':evenementPassee.id}) }} "><img src=" {{asset('images/evenement/'~ evenementPassee.image) }}" alt=""></a>
{% endfor %}
</div>

{% if formAddlieu %}
<div class="formulaire-categorie">

    <h1>Ajouter/Modifier un lieu</h1>
    {{ form_start(formAddlieu) }}
    <div class="formulaireLieu">
        {{ form (formAddlieu) }}
    </div>
    {{ form_end(formAddlieu) }}

</div>
{% endif %}




{% endblock %}