{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}



<div class="containerPage1">

    <div class="elementsNav">
        <div class="logo">LOGO</div>
        <nav>
            <ul class="ul1">
                <a href="{{ path ('app_categorie')}}">
                    <li>Accueil</li>
                </a>

                <a href=" {{ path ('app_lieu') }}">
                    <li>Lieu</li>
                </a>
                <a href="{{ path ('add_evenement') }}">
                    <li>Organiser</li>
                </a>
                <a href="{{ path ('app_oragnisateur') }}">
                    <li>Profil</li>
                </a>
                <a href="#">
                    <li>contact</li>
                </a>
            </ul>
        </nav>

        <div class="search">
            <a href="{{ path ('app_admin') }}">
                <li>Admin</li>
            </a>
            <a href="{{ path('app_logout') }}">
                <li>logout</li>
            </a>
        </div>
    </div>

    <div class="elementLieu">
        {% for lieu in lieus %}

        <h1>{{ lieu.nom }}</h1>
        Date de creation : {{ lieu.dateCreation | date('d/m/y') }} <br>
        Ville : {{ lieu.ville }}
        <h2> Adresse : {{ lieu.adress}} </h2>
        <div class="textEtImage">
            <div class="description"> {{ lieu.description }} </div>
            <img src=" {{asset('images/lieu/'~ lieu.image) }}" alt="">

        </div>

        <div class="buttonsLieu">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path ('supprimer_lieu',{'id':lieu.id}) }}">supprimer</a>
            <a href="{{ path ('edit_lieu',{'id':lieu.id}) }}">Edit</a>
            {% endif %}
        </div>


    </div>

</div>


{% endfor %}

{% if formAddlieu %}
<div class="formulaire-categorie">

    <h1>Ajouter/Modifier un lieu</h1>
    {{ form_start(formAddlieu) }}
    <div class="formulaireLieu">
        {{ form (formAddlieu) }}
    </div>
    {{ form_end(formAddlieu) }}

</div>
{% endif %}



</div>

{% endblock %}