{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}



<div class="containerPage1">
    <div class="elementLieu">
        {% for lieu in lieus %}

        <h1>{{ lieu.nom }}</h1>
        Ville : {{ lieu.ville }}
        <h2> Adresse : {{ lieu.adress}} </h2>
        <h2> capacity: {{ lieu.capacity}} </h2>
        <div class="textEtImage">
            <div class="description"> {{ lieu.description }} </div>
            <img src=" {{asset('images/lieu/'~ lieu.image) }}" alt="">
            <img src=" {{asset('images/lieu/'~ lieu.imageSalle) }}" alt="">

        </div>

        <div class="buttonsLieu">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path ('supprimer_lieu',{'id':lieu.id}) }}">supprimer</a>
            <a href="{{ path ('edit_lieu',{'id':lieu.id}) }}">Edit</a>
            {% endif %}
        </div>


    </div>

</div>


{% endfor %}

{% if formAddlieu %}
<div class="formulaire-categorie">

    <h1>Ajouter/Modifier un lieu</h1>
    {{ form_start(formAddlieu) }}
    <div class="formulaireLieu">
        {{ form (formAddlieu) }}
    </div>
    {{ form_end(formAddlieu) }}

</div>
{% endif %}



</div>

{% endblock %}