{% extends 'base.html.twig' %}

{% block title %}Hello EvenamentController!{% endblock %}

{% block body %}


<h1>Evenements Encours</h1>
{% for evenementEncours in evenementsEncours %}

{{ evenementEncours.nom }} <br>
{{ evenementEncours.description }}

 <img src="{{ evenementEncours.image }}" alt=""> 
 {{ evenementEncours.dateDebut | date('y-m-d') }}
    
{% endfor %}


<h2>-------------------------------------------------</h2>

<h1>Evenements passses</h1>
{% for evenementPassee in evenementsPassees %}

{{ evenementPassee.nom }} <br>
{{ evenementPassee.description }}

 <img src="{{ evenementPassee.image }}" alt=""> 
 {{evenementPassee.dateDebut | date('y-m-d') }}
    
{% endfor %}


<h2>-------------------------------------------------</h2>



 

{% endblock %}
