{% extends 'base.html.twig' %}


{% block body %}

{% set now = date() %}

<div class="containerEelmentsDetails">
    <video autoplay muted loop id="video">
        <source src="/videos/bg.mp4" type="video/mp4">
    </video>
    <div class="containerEelments">
        <div class="imagesEtButtons">
            <img src="{{asset ('images/evenement/'~ evenement.image) }}" alt="">
            {# condition pour pas pouvoir participer un evenementPasses #}
           
                {% if evenement.participant |length == evenement.nbDesPlaces %}
                    {% set link = 'complete' %}
                {% elseif is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
                       {% set link = '<a href="' ~ path('add_participant', {'id': evenement.id}) ~ '">participer</a>' %}
                            {% for participant in evenement.participant %}
                                {% if participant.id == app.user.id %}
                                   {% set link = 'vous etes inscrits' %}
                                {% endif %}
                            {% endfor %}
                {% else %}
                    {% set link = '<a href="' ~ path('app_login') ~ '">Connectez-vous</a> pour participer' %}
                {% endif %}
                {{ link | raw}}
             
            {% if evenement.createur == app.user or is_granted ("ROLE_ADMIN") %}
                <a href="{{ path('supprimer_evenement',{'id':evenement.id}) }}"><i class="fa-solid fa-trash"></i></a>
                <a href="{{ path('edit_evenement',{'id':evenement.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            {% endif %}
            <a href="{{path('app_contact',{'id':evenement.id})}}">contacter l'organisateur</a>
        </div>

        <div class="discreption">
            {% if app.user in evenement.participant %}

            <a href="{{ path('app_createur',{'id':evenement.createur.id}) }}"><strong>Référence : {{ createur.email
                    }}</strong></a>
            {% endif %}

            <h1>{{ evenement.nom }}</h1>
            <span class="dateEvenements"> du : {{ evenement.dateDebut | date('d-m-y H:i') }} au : {{ evenement.dateFin |
                date('d-m-y H:i') }} </span><br>
            <span class="descriptionPageDetails">{{ evenement.description }} </span>

            {% if evenement.imageAffiche is not empty %}
            <img src="{{ asset ('images/evenement/' ~ evenement.imageAffiche) }}" alt="">
            {% else %}
            <img src="{{ asset ('images/evenement/affiche-de-l-evenement-1.png') }}" alt="">
            {% endif %}

        </div>
    </div>
</div>


<div class="espaceCommentaire">

    {% for message in app.flashes('success') %}
    {{ message }}
    {% endfor %}

    <div class="commentaires">

        {% for commentaire in commentaires %}
        <span>{{ commentaire.utilisateur.pseudo }}</span>
        <div class="cmmentaireEtSupprimer">
            <span class="commentaire"> {{ commentaire }} </span>
            {% if commentaire.utilisateur == app.user %}
            <a href="{{ path('supprimer_commentaire',{'id':commentaire.id})}}"><i class="fa-solid fa-trash"></i></a>
            <a
                href="{{ path('edit_commentaire',{'idEvent':commentaire.evenement.id ,'idCommentaire':commentaire.id})}}"><i
                    class="fa-sharp fa-solid fa-pen-to-square"></i></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="ecrireUnCommentaire">
        {{form_start( formAddCommentaire) }}
        {{ form_row(formAddCommentaire.text, {'label': false,'attr': {'placeholder': 'Ajouter un commentaire'}})
        }}
        <span>
            {{form_row( formAddCommentaire.submit) }}
        </span>
        {{form_end( formAddCommentaire) }}
    </div>
</div>






<div class="tableParticipants">
{% if evenement.createur == app.user %}

<table>
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Date d'événement</th>
    </tr>
    {% for participant in evenement.participant %}
    <tr style="color: {{  couleurs[loop.index0 % couleurs|length]}}">
        <td>{{ participant.pseudo }}</td>
        <td><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></td>
        <td>{{ evenement.dateDebut |date('Y-m-d') }}</td>
        <td><a href="{{ path('supprimer_participant',{'id':evenement.id,'idParticipant':participant.id}) }}"><i
                    class="fa-solid fa-trash"></i></a> </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</div>


{% endblock %}