{% extends 'base.html.twig' %}


{% block body %}


{{ evenement.nom }}
{{ evenement.dateDebut | date('y-m-d H:i') }}

{% for participant in participants %}

    {{ participant }}
    
   {% endfor %}

   <br>

{% for commentaire in commentaires %}
    {{ commentaire }} <br>
    <a href="{{ path('supprimer_commentaire',{'id':commentaire.id})}}">supprimer</a>
{% endfor %}   
    

   {{form_start( formAddCommentaire) }}
   {{form_row( formAddCommentaire.text) }}
   {{form_end( formAddCommentaire) }}
   


{% endblock %}