{% extends 'base.html.twig' %}


{% block body %}

<div class="containerPageDetails">

    <div class="elementsNav">
        <div class="logo">LOGO</div>
        <nav>
            <ul class="ul1">
                <a href="{{ path ('app_categorie')}}">
                    <li>Accueil</li>
                </a>

                <a href=" {{ path ('app_lieu') }}">
                    <li>Lieu</li>
                </a>
                <a href="{{ path ('add_evenement') }}">
                    <li>Organiser</li>
                </a>
                <a href="{{ path ('app_oragnisateur') }}">
                    <li>Profil</li>
                </a>
                <a href="#">
                    <li>contact</li>
                </a>
            </ul>
        </nav>

        <div class="search">
            <a href="{{ path ('app_admin') }}">
                <li>Admin</li>
            </a>
            <a href="{{ path('app_logout') }}">
                <li>logout</li>
            </a>
        </div>
    </div>





    <div class="containerEelmentsDetails">
        <div class="titleEvenement">
            <h1>{{ evenement.nom }}</h1>
        </div>
        <div class="disreption">
            <img src="{{asset ('images/evenement/'~ evenement.image) }}" alt="">
            <span>{{ evenement.description }} </span>
        </div>
        
    <div class="info">
        <strong>Référence : {{ createur.email }}</strong>
        <strong> du : {{ evenement.dateDebut | date('y-m-d H:i') }}</strong>
        <strong> au : {{ evenement.dateFin | date('y-m-d H:i') }} </strong>
    </div>
    </div>



    <div class="espaceCommentaire">
        laissez un commentaire :
        <div class="commentaires">
            {% for commentaire in commentaires %}
            {{ commentaire }}
            {% if commentaire.utilisateur == app.user %}
            {{ commentaire.utilisateur.pseudo }}
            <a href="{{ path('supprimer_commentaire',{'id':commentaire.id})}}">supprimer</a>
            {% endif %}
            {% endfor %}

        </div>
        {{form_start( formAddCommentaire) }}
        {{form_row( formAddCommentaire.text) }}
        {{form_row( formAddCommentaire.submit) }}
        {{form_end( formAddCommentaire) }}

    </div>

    {% set flashMessages = app.flashes('success') %}

    {% if flashMessages is not empty %}
    <div class="alert alert-success">
        {{ flashMessages[0] }}
        {% endif %}

    </div>


    {% endblock %}