{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

<div class="containerPageEvenements">

    

    <div class="iconFlech">
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
    </div>
    <h1>Evenements Encours</h1>

    <div class="evenementsListes">
        {% for evenementsEncours in evenementsEncours %}
        <div class="evenementCarte">
            {{ evenementsEncours.nom }}


            <a href=" {{ path('details_evenement',{'idEvent':evenementsEncours.id}) }}"><img
                    src="{{asset('images/evenement/'~ evenementsEncours.image) }}" alt=""></a>

            {{evenementsEncours.dateDebut | date('y-m-d H:i') }}
            {% if evenementsEncours.createur == app.user %}
            <a href="{{ path ('supprimer_evenement',{'id':evenementsEncours.id}) }}"><i
                    class="fa-solid fa-trash"></i></a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
    <div class="iconFlech">
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
    </div>
    <h1>Evenements passses</h1>


    <div class="evenementsListes">
        {% for evenementPassee in evenementsPassees %}

        <div class="evenementCarte">
            {{ evenementPassee.nom }}
            <a href=" {{ path('details_evenement',{'idEvent':evenementPassee.id}) }}"><img
                    src="{{asset('images/evenement/'~ evenementPassee.image) }}" alt=""></a>

            {{evenementPassee.dateFin | date('y-m-d H:i') }}
            {% if evenementPassee.createur == app.user %}
            <a href="{{ path('supprimer_evenement', {'id': evenementPassee.id}) }}"><i
                    class="fa-solid fa-trash"></i></a>
            {% endif %}


        </div>
        {% endfor %}

    </div>





</div>

{% block javascripts %}
<script src="{{ asset('js/test.js') }}"></script>
{% endblock javascripts %}



{% endblock %}