{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

<div class="containerPageEvenements">

    <div class="elementsNav">
        <div class="logo">LOGO</div>
        <nav>
            <ul class="ul1">
                <a href="{{ path ('app_categorie')}}">
                    <li>Accueil</li>
                </a>

                <a href=" {{ path ('app_lieu') }}">
                    <li>Lieu</li>
                </a>
                <a href="{{ path ('add_evenement') }}">
                    <li>Organiser</li>
                </a>
                <a href="{{ path ('app_oragnisateur') }}">
                    <li>Profil</li>
                </a>
                <a href="#">
                    <li>contact</li>
                </a>
            </ul>
        </nav>

        <div class="search">
            <a href="{{ path ('app_admin') }}">
                <li>Admin</li>
            </a>
            <a href="{{ path('app_logout') }}">
                <li>logout</li>
            </a>
        </div>
    </div>
    <div class="containerSlider">
        <div class="imagesSlide">
            <div class="slider">
                {% for image in images %}
                <div class="slide">

                    <img src="{{asset('images/evenement/'~ image) }}" alt="">

                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <h1>Evenements Encours</h1>
    <div class="iconFlech">
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
    </div>
    <div class="evenementsListes">
        {% for evenementsEncours in evenementsEncours %}
        <div class="evenementCarte">
            {{ evenementsEncours.nom }}


            <a href=" {{ path('details_evenement',{'id':evenementsEncours.id}) }}"><img
                    src="{{asset('images/evenement/'~ evenementsEncours.image) }}" alt=""></a>

            {{evenementsEncours.dateDebut | date('y-m-d H:i') }}

            <a href="{{ path ('supprimer_evenement',{'id':evenementsEncours.id}) }}">supprimer</a>

        </div>
        {% endfor %}

    </div>

    <h1>Evenements passses</h1>
    <div class="iconFlech">
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
        <i class="fa-solid fa-turn-down fa-bounce"></i>
    </div>

    <div class="evenementsListes">
        {% for evenementPassee in evenementsPassees %}

        <div class="evenementCarte">
            {{ evenementPassee.nom }}
            <a href=" {{ path('details_evenement',{'id':evenementPassee.id}) }}"><img
                    src="{{asset('images/evenement/'~ evenementPassee.image) }}" alt=""></a>

            {{evenementPassee.dateFin | date('y-m-d H:i') }}

            <a href="{{ path ('supprimer_evenement',{'id':evenementPassee.id}) }}">supprimer</a>

        </div>
        {% endfor %}

    </div>





</div>

{% block javascripts %}
<script src="{{ asset('js/test.js') }}"></script>
{% endblock javascripts %}



{% endblock %}