{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}


<h1>Evenements Encours</h1>
{% for evenementEncours in evenementsEncours %}

{{ evenementEncours.nom }} <br>
{{ evenementEncours.description }}

 <a href=" {{ path('details_evenement',{'id':evenementEncours.id}) }}"><img src="{{asset('images/evenement/'~ evenementEncours.image) }}" alt=""></a>
 {{ evenementEncours.dateDebut | date('y-m-d') }}
 <a href="{{ path ('supprimer_evenement',{'id':evenementEncours.id})}}">supprimer</a>
 <a href="{{ path ('add_participant',{'id':evenementEncours.id}) }}">participer</a>
    
{% endfor %}




<h2>-------------------------------------------------</h2>

<h1>Evenements passses</h1>
{% for evenementPassee in evenementsPassees %}

{{ evenementPassee.nom }} <br>
{{ evenementPassee.description }}

<a href=" {{ path('details_evenement',{'id':evenementPassee.id}) }}"><img src="{{asset('images/evenement/'~ evenementPassee.image) }}" alt=""></a>
 
 {{evenementPassee.dateDebut | date('y-m-d') }}
    
 <a href="{{ path ('supprimer_evenement',{'id':evenementPassee.id}) }}">supprimer</a>

    
{% endfor %}


<h2>-------------------------------------------------</h2>




 

{% endblock %}
