{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

<div class="containerPageEvenements">
    <h1>Evenements Encours</h1>
    <div class="evenementsListes">
        {% for evenementsEncours in evenementsEncours %}
        <div class="evenementCarte">
           <h2> {{ evenementsEncours.nom }} </h2>
            <a href=" {{ path('details_evenement',{'idEvent':evenementsEncours.id}) }}"><img
                    src="{{asset('images/evenement/'~ evenementsEncours.image) }}" alt=""></a>
            <strong>{{evenementsEncours.dateDebut | date('d-m-y H:i') }} </strong>

                <h3><a href=" {{ path('details_evenement',{'idEvent':evenementsEncours.id}) }}">  En savoir plus</a></h3>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}