{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

<h1>Evenements Encours</h1>
{% for evenementsEncours in evenementsEncours %}

{{ evenementsEncours.nom }} <br>


<a href=" {{ path('details_evenement',{'id':evenementsEncours.id}) }}"><img  src="{{asset('images/evenement/'~ evenementsEncours.image) }}" alt=""></a>
 
 {{evenementsEncours.dateDebut | date('y-m-d') }}
    
 <a href="{{ path ('supprimer_evenement',{'id':evenementsEncours.id}) }}">supprimer</a>

    
{% endfor %}
<h2>-------------------------------------------------</h2>

<h1>Evenements passses</h1>
{% for evenementPassee in evenementsPassees %}

{{ evenementPassee.nom }} <br>


<a href=" {{ path('details_evenement',{'id':evenementPassee.id}) }}"><img src="{{asset('images/evenement/'~ evenementPassee.image) }}" alt=""></a>
 
 {{evenementPassee.dateFin | date('y-m-d') }}
    
 <a href="{{ path ('supprimer_evenement',{'id':evenementPassee.id}) }}">supprimer</a>

    
{% endfor %}


<h2>-------------------------------------------------</h2>





 

{% endblock %}
