{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}








<div class="containerSlider">
  <div class="imagesSlide">
    <div class="slider">
      {% for event in evenemetInfo %}
      <div class="slide active">
        <img src="{{asset('images/evenement/'~ event.image) }}" alt="">
        <div class="containerInfoEvenement">
          <div class="nomEvenement">{{ event.nom }}</div>
          <div class="descriptionEvenementSlide1">{{ event.description }} </div>
          <div class="dateEvenementSlide">Du : {{ event.dateDebut |date('Y-M-D') }}
            Au : {{ event.dateFin |date('Y-M-D') }}</div>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="sliderButtons">
      <button class="prevButton2" onclick="previousSlide()">&#10094;</button>
      <button class="nextButton2" onclick="nextSlide()">&#10095;</button>
    </div>

  </div>


  {% if app.user %}
  <div class="text1">
    <span>Partageons nos événements et ouvrons les murs</span>
    {% else %}
    <div class="text1">
      <span>Partageons nos événements et ouvrons les murs</span>
      <div class="elementText1">
        <i class="fa-solid fa-share-from-square"> </i>
        <a href="{{ path('app_register') }}">
          <li>s'inscrire- </li>
        </a>
        <a href="{{ path('app_login') }}">
          <li> se connecter</li>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="containerCategorie">

  <div class="espaceCategorie">
  {% for categorie in categories %}
    <div class="categorie">
      <div class="categorieElements" style="background-color: {{  couleurs[loop.index0 % couleurs|length] }}">
        <a href="{{ path ('evenement_categorie',{'id':categorie.id}) }}"> <img
            src=" {{asset('images/categorie/'~ categorie.image) }}" alt=""> </a>
        <h1> {{ categorie.nom }} </h1>
      </div>
      <div class="buttonsCategorie">
        {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{ path ('supprimer_categorie',{'id':categorie.id}) }}"><i class="fa-solid fa-trash"></i></a>
        <a href="{{ path ('edit_categorie',{'id':categorie.id}) }}"><i
            class="fa-sharp fa-solid fa-pen-to-square"></i></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {# if pour verfier si le formaddcategorie n'est pas null #}
  {% if formAddCategorie %}
  <div class="formulaire-categorie">
    {{ form_start(formAddCategorie) }}
    <div class="chmpsNom"> {{ form_row(formAddCategorie.nom) }} </div>
    <div class="chmpsImage">{{ form_row(formAddCategorie.image) }} </div>
    <span>{{ form_row(formAddCategorie.submit) }}</span>
    {{ form_end(formAddCategorie) }}
  </div>
  {% endif %}
</div>

<section class="sectionEspaceTextPageHome">
<div class="espaceTextPageHome">
  <p>Que vous soyez seul,en entreprise, en couple, entre amis ou en famille </p>
  <p>
  Harmony est ouvert à tous ceux qui cherchent à s'évader du quotidien et à vivre des moments magiques.</p>
  <p> Rejoignez-nous et créez des souvenirs précieux avec vos proches.</p>
  <div class="social-links">
    <p class="faceBook"><a href=""><i class="fa-brands fa-facebook"></i></a></p>
    <p class="linkedIn"><a href=""> <i class="fa-brands fa-linkedin-in"></i></a></p>
    <p class="instegram"><a href=""><i class="fab fa-instagram"></i></a></p>
  </div>
</div>
</section>





{% block javascripts %}
<script src="{{ asset('/js/slide1.js') }}"></script>
{% endblock javascripts %}

{% endblock %}