{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}








<div class="containerSlider">
  <div class="imagesSlide">

    <div class="slider">
      {% for event in evenemetInfo %}
      <div class="slide active">
        <img src="{{asset('images/evenement/'~ event.image) }}" alt="">
        <div class="containerInfoEvenement">
          <div class="nomEvenement">{{ event.nom }}</div>
          <div class="dateEvenementSlide">Du : {{ event.dateDebut |date('Y-M-D') }}
            Au : {{ event.dateFin |date('Y-M-D') }}</div>
          <div class="descriptionEvenementSlide">{{ event.description }} </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="sliderButtons">
      <button class="prevButton2" onclick="previousSlide()">&#10094;</button>
      <button class="nextButton2" onclick="nextSlide()">&#10095;</button>
    </div>

  </div>


  {% if app.user %}
  <div class="text1">
    <span>Partageons nos événements et ouvrons les murs</span>
    {% else %}
    <div class="text1">
      <span>Partageons nos événements et ouvrons les murs</span>
      <div class="elementText1">
        <i class="fa-solid fa-share-from-square"> </i>
        <a href="{{ path('app_register') }}">
          <li>s'inscrire- </li>
        </a>
        <a href="{{ path('app_login') }}">
          <li> se connecter</li>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="containerCategorie">
  <div class="categorie">
    {% for categorie in categories %}
    <div class="categorieElements" style="background-color: {{  couleurs[loop.index0 % couleurs|length] }}">
      <a href="{{ path ('evenement_categorie',{'id':categorie.id}) }}"> <img
          src=" {{asset('images/categorie/'~ categorie.image) }}" alt=""> </a>


          {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path ('supprimer_categorie',{'id':categorie.id}) }}"><i class="fa-solid fa-trash"></i></a>
          {% endif %}
          <h1> {{ categorie.nom }} </h1>
        </div>
    {% endfor %}
  </div>


  {# if pour verfier si le formaddcategorie n'est pas null #}
  {% if formAddCategorie %}
  <div class="formulaire-categorie">
    {{ form_start(formAddCategorie) }}
    <div class="chmpsNom"> {{ form_row(formAddCategorie.nom) }} </div>
    <div class="chmpsImage">{{ form_row(formAddCategorie.image) }} </div>
    {{ form_row(formAddCategorie.submit) }}
    {{ form_end(formAddCategorie) }}
  </div>
  {% endif %}
</div>





<div class="test">

<div class="containerSlider2">
  <div class="imagesSlide2">
    <div class="slider2">
      {% for evenementAvenir in evenementsAvenir %}
      <div class="slide2 active">
        {% if evenementAvenir.statut == 'validé' %}
        <a href="{{ path('details_evenement',{'idEvent':evenementAvenir.id}) }}">
          <img src="{{ asset('images/evenement/'~ evenementAvenir.image) }}" alt="">
        </a>
        <h1>{{ evenementAvenir.nom }}</h1>
        <p>{{ evenementAvenir.dateDebut | date('d/m/Y') }}</p>
        <div>
          {% if evenementAvenir.createur == app.user %}
          <a href="{{ path('edit_evenement',{'id':evenementAvenir.id}) }}">Edit</i></a>
          {% endif %}
          <a href="{{ path('details_evenement',{'idEvent':evenementAvenir.id}) }}">participer</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="sliderButtons2">
      <button class="prevButton2" onclick="previousSlide2()">&#10094;</button>
      <button class="nextButton2" onclick="nextSlide2()">&#10095;</button>
    </div>
  </div>
</div>
 
</div>

  




{% block javascripts %}
<script src="{{ asset('/js/slide1.js') }}"></script>
{% endblock javascripts %}

{% endblock %}