{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}





<div class="categorie">
    {% for categorie in categories %}
        <div class="categorieElements">
                <img src="{{ categorie.image }}" alt="">   
                <h1> {{ categorie.nom }} </h1> 
                <a href="{{ path ('supprimer_categorie',{'id':categorie.id}) }}">supprimer</a>
        </div> 

    {% endfor %}
</div>


{{ form (formAddCategorie) }}

{# {{ form_start(formAddCategorie) }}
    {{ form_row(formAddCategorie.nomCategorie) }}
    {{ form_row(formAddCategorie.image) }}
    {{ form_row(formAddCategorie.submit) }}
{{ form_end(formAddCategorie) }}  #}



{% endblock %}
