{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}





<div class="categorie">
    {% for categorie in categories %}
        <div class="categorieElements">
                <img src=" {{asset('images/categorie/'~ categorie.image) }}" alt="">   
                <h1> {{ categorie.nom }} </h1> 
                <a href="{{ path ('supprimer_categorie',{'id':categorie.id}) }}">supprimer</a>
        </div> 

    {% endfor %}
</div> 




{{ form_start(formAddCategorie) }}
   <div class="formulaire">
    <div class="chmpsNom"> {{ form_row(formAddCategorie.nom) }}  </div>
    <div class="chmpsImage">{{ form_row(formAddCategorie.image) }} </div>
    {{ form_row(formAddCategorie.submit) }}
  </div>
{{ form_end(formAddCategorie) }}  

  





{% endblock %}
