{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}


{% block body %}



{% set hasEventsToValidate = false %}
<div class="containerPageAdmin">
    <table>
        <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Image</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Déscription</th>

            <th>valider</th>
            <th>refuser</th>
        </tr>
        {% for evenementAvenir in evenementsAvenir %}
        {% if evenementAvenir.statut == 'en attente' or evenementAvenir.statut == 'refusé'%}
        {% set hasEventsToValidate = true %}
        <tr>
            <td>{{ evenementAvenir.nom }}</td>
            <td>{{ evenementAvenir.statut }}</td>
            <td> <img src=" {{asset('images/evenement/'~ evenementAvenir.image) }}" alt=""></td>
            <td>{{ evenementAvenir.dateDebut | date('d-m-Y H:m') }}</td>
            <td>{{ evenementAvenir.dateFin | date('d-m-Y H:m') }}</td>
            <td class="descriptionTablePageAdmin"> {{ evenementAvenir.description }}</td>


            <td class="iconValide"><a href="{{ path('admin_event_validate', {'id': evenementAvenir.id}) }}"><i
                        class="fa-solid fa-check"></i></a></td>
            <td class="iconRefuse"><a href="{{ path('admin_event_refuse', {'id': evenementAvenir.id}) }}"><i
                        class="fa-solid fa-xmark"></i></a></td>
            {% if evenementAvenir.statut == 'refusé' %}
            <td><a href="{{ path ('supprimer_evenement',{'id':evenementAvenir.id}) }}"><i
                        class="fa-regular fa-trash-can"></i></a></td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% if not hasEventsToValidate %}
    <p>Vous n'avez pas d'événements à valider.</p>
    {% endif %}
</div>



<div id="Calendrier">
</div>


{% block stylesheets %}
<style>
    #Calendrier {
        width: 80%;
        margin: auto;
    }
</style>
{% endblock %}



<script>

    window.onload = () => {
        let CalendarElt = document.querySelector('#Calendrier')
        var data = JSON.parse('{{ data|raw }}')
     

        let Calendar = new FullCalendar.Calendar(CalendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Eroupe/paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek',


            },
            events: data,
            editable: true,
            eventResizableFromStart: true

        })
        Calendar.on('eventChange', (e) => {
            let url = '/api/' + e.event.id + '/edit';
           
        
            let donnees = {
                'title' : e.event.title,
                'end' : e.event.end,
                'start' : e.event.start,
            }
        console.log(JSON.stringify(donnees))
        let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
       

        Calendar.render();
    
    

    }

</script>

{% endblock %}