{% extends 'base.html.twig' %}


{% block body %}


{{ user }}

{% for evenement in evenements %}
{{ evenement.nom }}

<a href="{{ path ('details_evenement',{'idEvent':evenement.id}) }}"><img
        src="{{asset ('images/evenement/'~ evenement.image) }}" alt=""></a>
{% for participant in evenement.participant %}
{{ participant.pseudo }}
{{ participant.email }}
{% endfor %}
{% endfor %}






{% endblock %}